@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

.cursor_perso {
  width: 40px;
  height: 40px;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 999;
}

.cursor_perso::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: #ac6b34;
  border-radius: 50%;
}


@layer base {
  body {
    @apply font-body text-paragraph leading-6 bg-gray-200;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-primary;
  }
  .section {
    @apply py-12 lg:py-32;
  }
  .section-title {
    @apply text-3xl lg:text-4xl font-medium lg:font-extrabold mb-5;
  }
  .subtitle {
    @apply text-base text-paragraph mb-16 lg:mb-24 max-w-[520px];
  }
  .btn {
    @apply py-4 px-7 font-medium text-white flex items-center justify-center rounded-sm hover:bg-accent-hover transition-all;
  }
  .btn-lg {
    @apply h-[54px];
  }
  .btn-md {
    @apply h-[48px];
  }
  .input {
    @apply bg-secondary text-paragraph h-[60px] outline-none pl-6 w-full font-body text-[15px] rounded-sm focus:outline focus:outline-1 focus:outline-accent;
  }
  .textarea {
    @apply bg-secondary resize-none w-full outline-none p-6 rounded-sm h-[200px] focus:outline focus:outline-1 focus:outline-accent;
  }
  .active {
    @apply text-accent;
  }
}

.img__brands {
  width: 150px;
  
}

.logo__nav {
  width: 100px;
}

.logo__footer {
  width: 250px;

}

.img__about {
  margin-top: -70px;
}

.card__project {
  width: 100%;
  background: #13141a;
  border-radius: 10px;
}

.img__project {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.tech__project {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.img__project:hover {
  background-color: #ac6b34;
  border-radius: 10px;
  transition: .3s ease-in-out;
  transform: scale(105%);
}

@media screen and (max-width: 768px) {
  .img__about {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  #home {
    padding-top: 400px;
    padding-bottom: 400px;
  }
}